<div class ='content'>
    {{ page.content }}
    <nav class="header-navigation p-3 mb-2 bg-gradient-danger text-white">
      <ul>
        <li><a href="/" data-drupal-link-system-path="&lt;front&gt;">Home</a></li>
        <li><a href="http://localhost:32782/node/2" title="SASS CSS ">SASS</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <img src="/sites/default/files/inline-images/drupal_0.png" />
</div>
<div class ='content'>

    {{ page.content }}
     <section class="bakery-header p-3 mb-2 bg-gradient-danger text-white">
      <img src="/sites/default/files/inline-images/it-background.jpg" alt="Header Image for Bakery" />
    </section>
    <section class="gallery">
      <img src='./images/bakery-swirls.png' class="swirl"/>
      <div class="gallery-grid p-3 mb-2 bg-gradient-danger text-white">
        <img src="/sites/default/files/inline-images/2toucons_0.jpg" />
        <img src="/sites/default/files/inline-images/jwimg.jpg" />
        <img src="/sites/default/files/inline-images/sassworking.png" />
      </div>

      <img src='./images/bakery-swirls.png' class="swirl upside-down p-3 mb-2 bg-gradient-danger text-white"/>
    </section>
    <section class="about-us">
      <div class="about-us-text  p-3 mb-2 bg-gradient-danger text-red">
      <button class="btn-primary">Primary</button>
    
        <p>ccccccccccccccccA site dedicated to my journey to understand Drupal and tools regularly used with it.</p>
      </div>
    </section>
</div>
<div class ='content p-3 mb-2 bg-gradient-danger text-white'>
    {{ page.content }}
     <section class="footer-widgets">
      <div class="footer-logo">
        <img src="./images/lucky-star-bakery.jpg" />
      </div>
      <div class="contact-info">
        <div class="location">
          <p>123 Mulberry Lane</p>
          <p>Anytown, USA, 12345</p>
          <hr />
          <p>Phone: (555) 867-5309</p>
        </div>
      </div>
      <div class="contact-info">
        <div class="hours">
          <p><span class="hours-label">Sunday &amp; Monday:</span> CLOSED</p>
          <p><span class="hours-label">Tuesday - Friday:</span> 9:00am - 5:00pm</p>
          <p><span class="hours-label">Saturday:</span> 10:00am - 3:00pm</p>
        </div>
      </div>
    </section>
    <section class="copyright d-flex">
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Primary card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Secondary card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="d-flex align-items-center card text-white bg-success mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Success card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Danger card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Warning card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Info card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Light card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Dark card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
    <div class="p-3  d-flex mb-2 bg-gradient-primary text-danger">.bg-gradient-primary</div>
    <div class="d-inline-flex p-2">I'm an inline flexbox container!</div>
<button class="p-3 d-flex mb-2 bg-gradient-secondary text-danger">.bg-gradient-secondary</button>
<nav class="p-3 mb-2 bg-gradient-success text-danger">.bg-gradient-success</nav>
<code class="p-3 mb-2 bg-gradient-danger text-danger">.bg-gradient-danger</code>
<span class="p-3 mb-2 bg-gradient-warning text-danger">.bg-gradient-warning</span>
<strong class="p-3 mb-2 bg-gradient-info text-danger">.bg-gradient-info</strong>
<section class="p-3 mb-2 bg-gradient-light text-danger">.bg-gradient-light</section>
<div class="p-3 mb-2 bg-gradient-dark text-danger">.bg-gradient-dark</div>
      <button class="btn-primary">Primary</button>
      <button class="btn-danger">Secondary</button>
      <button class="btn-danger">Danger</button>
    </section>
</div>
