<div class ='header'>
    {{ page.header }}
    <p> tests</p>
</div>
<div class ='content'>
    {{ page.content }}
</div>
<div class ='footer'>
    {{ page.footer }}
</div>
<div style='color: red' class='test'>
    {{page.test}}
</div>